.*\.py[co]
.*\.pyc-2.4
.*\.pyc
^(.*/)?__pycache__
.pytest_cache
.tmp/
.*~
.*\.orig
.*\.swp
.*\#.*
.*@.*
^(.*/)?#.*#$
.*_test\.py
tests\.py
^(.*/)?\..*$
.*\.md
^(.*/)?README
._gae_py*
makefile
OWNERS
package.json
package-lock.json
^lib/
^local_libs/
