.*\.py[co]
.*\.pyc-2.4
.*\.pyc
^(.*/)?__pycache__
.pytest_cache
.tmp/
.*~
.*\.orig
.*\.swp
.*\#.*
.*@.*
^(.*/)?#.*#$
.*_test\.py
tests\.py
^(.*/)?\..*$
.*\.md
^(.*/)?README
._gae_py*
makefile
OWNERS
package.json
package-lock.json
.coveragerc
.expect_tests.cfg
.expect_tests_pretest.py
node_modules/
third_party/
local_libs/
lib/