[access]
	inheritFrom = infra
[access "refs/for/*"]
	forgeAuthor = group mdb/chrome-infrastructure-team
	forgeCommitter = group mdb/chrome-infrastructure-team
	pushMerge = group mdb/chrome-infrastructure-team
[access "refs/heads/*"]
	forgeAuthor = group mdb/chrome-infrastructure-team
	forgeCommitter = group mdb/chrome-infrastructure-team
	pushMerge = group mdb/chrome-infrastructure-team
