[access]
	inheritFrom = infra
[access "refs/for/*"]
	forgeAuthor = group chrome-infra-team
	forgeCommitter = group chrome-infra-team
	push = group chrome-infra-team
	pushMerge = group chrome-infra-team
[access "refs/heads/*"]
	forgeAuthor = group chrome-infra-team
	forgeCommitter = group chrome-infra-team
	push = group chrome-infra-team
	pushMerge = group chrome-infra-team
