<!DOCTYPE html>

<head>
  <title>Weetbix</title>
  <link href="/static/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R5K0ZJ8NMC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R5K0ZJ8NMC');
  </script>
</head>

<body>
  <div style="padding: 20px">
    <h1>This service has moved to <a href="https://luci-analysis.appspot.com">luci-analysis.appspot.com</a>.</h1>
    <p style="font-size: large">
      The service formerly called Weetbix is now called LUCI Analysis and moved to <a href="https://luci-analysis.appspot.com">luci-analysis.appspot.com</a>.
      Please update any links or bookmarks to refer to the new address.
    </p>
  </div>
</body>