/* Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.heuristicTableContainer {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.heuristicTable tr>th {
  background-color: darkgrey;
  color: white;
}
