{% extends "base.html" %}

{% block content %}
  <center>
  <h2>Last 100 {{ app_name }} revisions status</h2>
  <table border="1" cellpadding="5">
  <tr class="table-header>
    <td>Revision</td>
    <td>Git Hash</td>
    <td>When</td>
    <td>Status</td>
    <td>Failed steps</td>
  </tr>
  {% for revision in revisions %}
    <tr>
      <td>{{ revision.revision }}</td>
      <td>{{ revision.git_hash }}</td>
      <td>{{ revision.date|date:"D M d, H:i T " }}</td>
      <td {% if revision.status %}
            bgcolor="#88FF88">SUCCESS
          {% else %}
            bgcolor="#FF8888">FAILURE
          {% endif %}
      </td>
      <td>{{ revision.failed_steps }}</td>
    </tr>
  {% endfor %}
   </table>
  </center>
{% endblock %}
