{% extends "base.html" %}

{% block content %}
  <center>
  <h2>{{ app_name }}</h2>
  <table border="1" cellpadding="5">
  <tr class="table-header">
    <td>Filename</td>
    <td>Original filename</td>
    <td>Size</td>
    <td>Upload date</td>
  </tr>
  {% for blob in blobs %}
    <tr>
      <td>{{ blob.filename }}</td>
      <td>{{ blob.blob.filename }}</td>
      <td>{{ blob.blob.size }}</td>
      <td>{{ blob.blob.creation|date:"D M d, H:i T " }}</td>
    </tr>
  {% endfor %}
   </table>
  </center>
{% endblock %}
