/* Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

[role=tablist] > .navTab {
  font-size: 0.8rem;
}

[role=tablist] > .logoNavTab {
  font-size: 1.3rem;
  text-transform: none;
}

.pageContent {
  padding: 2rem;
}
